:root {
	--branco: #FFF;
	--preto: #000;
	--laranja: #e74c3c;
	--cinza-escuro: #4F4C4C;
	--cinza-claro: #F7F4F4;
	--cinza-medio: #D9D9D9;
	--fonte-link: #0084FF;
	--fonte-cinza: #666;
	--rodape: #333;
	--creme: #f5f5f5;
	--montserrat: 'Montserrat', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
}

body {
	font-family: 'Open sans', sans-serif;
}

a {
	color: inherit;
}

.container {
	padding-right: 6%;
	padding-left: 6%;
}

.botao {
	text-align: center;
	display: block;
	width: 100%;
	box-sizing: border-box;
	padding: 1rem 2rem;
	border-radius: 5px;
	background-color: var(--laranja);
    border: none;
    box-shadow: black 0.1em 0.1em 0.2em;
    text-shadow: none;
   	color: var(--branco);
}

@media screen and (min-width: 1024px) {
    .container {
        padding-left: calc((100% - 940px)/2);
        padding-right: calc((100% - 940px)/2);
    }
}